body { 
        font-family: Georgia,serif;
    }
.titulos {
        color: #0f172a;
    }
   h1{
        letter-spacing: 2px;
    }
   p{
        line-height:1.6px
    }
.botoes {
        text-transform: uppercase;
    }

    .cartao{ /*definindo borda*/
        border: 1px solid #cbd5e1; 
    }

    .cartao info{ /*definindo largura maxima*/
        max-width: 800px;
        margin: 0 auto;
    }

    .container{ /*centralizando*/
        max-width: 800px;
        margin: 0 auto;
    }

    .cartao{ /*margem*/
        margin: 20px 10px;
    }

    #rodape-principal{ /* adicionando uma borda no rodape*/
        border-top: 4px solid #3b82f6;
    }




#cabecalho-principal{
        background-color: #f8fafc;
    }

#cabecalho-principal {
    background-color: #f8fafc;
    color: #334155; 
}

.cartao {
    border: 1px solid #cbd5e1;
    margin: 20px 10px;
    background-color: white; 
}

.botao-destaque {
    background-color: #ef4444;
}

.botoes {
    text-transform: uppercase;
    color: white; 
    border: none; 
}


/*  parte Henrique   */
.cartao.info  {  background-color: #eff6ff;  }                  /*  16  */


.link:hover   {  color: #dc2626;  }                             /*  17  */


.cartao:hover {                                                 /*  18 */  
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
  cursor: pointer;
}     


nav li {  list-style-type: none;  }                             /*  19  */


button:not(.botao-destaque) {  background-color: #475569;  }    /*  20  */




* {  transition: 300ms all;  }                                  /*  extras  */
#rodape-principal p {  text-align: center;  }                     
