body { 
        font-family: Georgia,serif;
    }
.titulos {
        color: #0f172a;
    }
   h1{
        letter-spacing: 2px;
    }
   p{
        line-height:1.6px
    }
.botoes {
        text-transform: uppercase;
    }

    .cartao{ /*definindo borda*/
        border: 1px solid #cbd5e1; 
    }

    .cartao info{ /*definindo largura maxima*/
        max-width: 800px;
        margin: 0 auto;
    }

    .container{ /*centralizando*/
        max-width: 800px;
        margin: 0 auto;
    }

    .cartao{ /*margem*/
        margin: 20px 10px;
    }

    #rodape-principal{ /* adicionando uma borda no rodape*/
        border-top: 4px solid #3b82f6;
    }
